<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.yangdoll.mapper.UserMapper">
	
	<insert id="addUser" parameterType="UserVO">
		insert into users values( #{userId}, #{userPwd}, #{userName})
	</insert>
	<delete id="delUser" parameterType="java.lang.String">
		delete from users where userId = #{userId}
	</delete>
	<update id="modifyUser" parameterType="UserVO">
		update users SET userPwd=#{userPwd}, userName=#{userName} WHERE userId=#{userId}
	</update>
	<select id="getOne" parameterType="java.lang.String" resultType="UserVO">
		select * from users where userId = #{userId}
	</select>
	<select id="getAll" resultType="UserVO">
		select * from users
	</select>
	<select id="getCount" resultType="Integer">
		select count(*) from users
	</select>
</mapper>