<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="membermapper">
  <select id="selectAll" resultType="MemVO">
    select * from members
  </select>
  <select id="selectGetId" parameterType="String" resultType="MemVO">
  	select * from members where memId = #{memId}
  </select>
  <insert id="insertMember" parameterType="memVO">
  	insert into members values( #{memId}, #{memPwd}, #{memName}, #{memEmail}, #{memAddr}, sysdate, sysdate, 1)
  </insert>
</mapper>